.register__content {
    max-width: 1080px;
    height: 700px;
        /* 任意の高さを指定 */
    margin: 0 auto;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.form__group {
    width: 400px;
    margin: 0 auto;
    padding: 15px;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.form__input--text input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 4px;
        /* 角を丸くする */
}

.form__button-submit {
    width: 390px;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
        /* 角を丸くする */
    margin-bottom: 20px;
            /* 適切な間隔を設定 */
}

.form__button-submit:hover {
    background-color: darkblue;
}