p {
    border: 0px solid #333;
    padding: 15px;
    max-width: 100%;
    margin: 0;
    /* 外枠の余白をゼロに設定 */
    background-color: #ffffff;
    font-size: 30px;
}

/* フッター */
footer {
    background-color: #ffffff;
    /* フッターの背景色 */
    color: #000000;
    /* テキストの色を白色に設定 */
    padding: 1px;
    /* パディングを追加 */
    text-align: center;
    /* テキストを中央揃えにする */
}

/* フッターテキスト */
footer p {
    font-size: 16px;
    margin: 0;
}

