.login__content {
    max-width: 100%;
    /* 必要に応じて幅を調整 */
    height: 700px;
    /* コンテンツに基づいて高さを自動調整 */
    margin: 0 auto;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.login-form__heading h2 {
    margin-bottom: 40px;
    /* h2 要素とテキスト間の距離を広げるためにマージンを調整 */
}

.form__group {
    width: 100%;
    /* 親要素の幅いっぱいに広げる */
    margin-bottom: 30px;
    /* 必要に応じてマージンを調整 */
    font-size: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.form__input--text input {
    width: 400px;
    padding: 15px;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-weight: bold;
        /* テキストを太くする */
}

.form__button-submit {
    width: 100%;
    /* 親要素の幅いっぱいに広げる */
    text-align: center;
    padding: 8px;
    margin-bottom: 40px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
}

.form__button-submit:hover {
    background-color: darkblue;
}

.form__group-title .form__label--item {
    color: #817878;
    /* 例: 赤色に変更 */
}


.register__link .register__button-submit {
    color: #0000FF;
    /* リンクの色を設定 */
    text-decoration: none;
    /* 下線を削除 */
}