/* ヘッダー */
.header {
    background-color: #ffffff;
    /* ヘッダーの背景色を設定 */
    padding: 10px;
    /* パディングを追加 */
}

/* ヘッダー内の要素 */
.header__inner {
    display: flex;
    /* 子要素をフレックスボックスとして配置 */
    justify-content: space-between;
    /* 要素間のスペースを均等に配置 */
    align-items: center;
    /* 子要素を中央に配置 */
}

/* ヘッダーユーティリティ */
.header-utilities {
    margin-right: 10px;
    /* 右側のマージンを追加 */
}

.header-utilities p {
    margin: 0;
    /* テキストのマージンをリセット */
    font-size: 30px;
    /* テキストのサイズを設定 */
    font-weight: bold;
    /* テキストを太字にする */
    margin-left: 40px;
    /* 左側のマージンを追加 */
}

/* ヘッダーボタン */
.header-button {
    display: flex;
    /* 子要素をフレックスボックスとして配置 */
    align-items: center;
    /* 子要素を中央に配置 */
}

.header-button form,
.header-button .button-container {
    margin-left: 0px;
    /* 要素間のマージンを設定 */
    white-space: nowrap;
    /* テキストを折り返さないように設定 */
}

/* ログアウトボタンのスタイル */
.header-nav__button {
    background-color: #ffffff;
    /* 背景色を設定 */
    border: none;
    /* 枠線を削除 */
    font-weight: bold;
    /* テキストを太字にする */
    cursor: pointer;
    /* マウスカーソルを指に変更 */
    font-size: 16px;
    /* テキストのサイズを設定 */
    white-space: nowrap;
    /* テキストを折り返さないように設定 */
}

/* ボタンスタイル */
.header-button .button {
    margin-left: 10px;
    /* 左側のマージンを追加 */
    border: 2px solid #ffffff;
    /* 枠線を設定 */
    background-color: #ffffff;
    /* 背景色を設定 */
    color: #000000;
    /* テキストの色を設定 */
    text-decoration: none;
    /* 下線を削除 */
    font-weight: bold;
    /* テキストを太字にする */
}

/* ボタンコンテナのスタイル */
.button-container {
    display: flex;
    /* 子要素をフレックスボックスとして配置 */
}

.button-container a {
    margin-right: 30px;
    /* 右側のマージンを設定 */
}

/* フッター */
footer {
    background-color: #ffffff;
    /* 背景色を設定 */
    color: #000000;
    /* テキストの色を設定 */
    padding: 15px;
    /* パディングを追加 */
    text-align: center;
    /* テキストを中央揃えにする */
}

/* フッターテキスト */
footer p {
    font-size: 16px;
    /* テキストのサイズを設定 */
    margin: 0;
    /* マージンをリセット */
}

/* メディアクエリ */
@media screen and (max-width: 768px) {
    .header__inner {
        flex-direction: column;
        /* 要素を縦方向に配置 */
    }
}