body {
    background-color: #f0f0f0;
    /* 任意の背景色を指定 */
}

.stamp__content {
    max-width: 100%;
    /* 必要に応じて幅を調整 */
    height: 800px;
    /* コンテンツに基づいて高さを自動調整 */
    margin: 0 auto;
    padding: 60px;
}

.stamp__name {
    text-align: center;
    /* テキストを中央に配置 */
    font-size: 24px;
        /* 文字サイズを16ピクセルに設定 */
}

/* フォーム全体を左寄せに配置 */
form {
    text-align: left;
}

/* 入力フィールドのスタイル */
input[type="text"] {
    padding: 10px;
    /* 上下左右のパディングを設定 */
    width: 360px;
    /* 幅を指定 */
    border: 1px solid #ccc;
    /* 枠線のスタイル */
    border-radius: 5px;
    /* 角を丸くする */
    box-sizing: border-box;
    /* 幅や高さにpaddingとborderを含める */
}

/* ボタンのスタイル */
button[type="submit"] {
    padding: 10px 20px;
    /* 上下左右のパディングを設定 */
    background-color: #007bff;
    /* 背景色を指定 */
    color: #fff;
    /* 文字色を指定 */
    border: none;
    /* 枠線をなくす */
    border-radius: 5px;
    /* 角を丸くする */
    cursor: pointer;
    /* ポインターを表示 */
    transition: background-color 0.3s;
    /* ホバー時のトランジション効果 */
}

/* ボタンのホバー時のスタイル */
button[type="submit"]:hover {
    background-color: #0056b3;
    /* ホバー時の背景色を指定 */
}

.users.list_table {
    margin: 0 auto;
    /* 左右のマージンを自動に設定して水平中央に配置 */
    text-align: center;
    /* テキストを中央揃えにする */
}

.item_th {
    padding: 20px 50px;
    text-align: center;
    /* テーブルヘッダーのテキストを中央揃えにする */
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    width: auto;
    /* セルの幅を自動にする */
    margin: 0 10px;
    /* テーブルヘッダーを水平方向に中央に配置 */
    font-size: 20px;
    /* テキストサイズを変更 */
}



.info_td {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.info_tr:last-child .info_td {
    border-bottom: none;
    /* 最後の行の横線を消す */
}